* {
  margin: 0;
  padding: 0; 
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background: rgba(20, 2, 57, 0.8);
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-position: center;
  font-size: 15pt;
  font-weight: normal;
  text-align: center;
  color: #fff;
}
.manha {
  background-image: linear-gradient(to bottom, 
                    rgba(0, 168, 232, 0.8),
                    rgba(0,0,0, 0.6)),
                    url('assets/img/bg-manha.jpg');
}
.tarde {
  background-image: linear-gradient(to bottom, 
                    rgba(247, 143, 0, 0.8),
                    rgba(0,0,0, 0.6)),
                    url('assets/img/bg-tarde.jpg');
}
.noite {
  background-image: linear-gradient(to bottom, 
                    rgba(114, 58, 181, 0.8),
                    rgba(0,0,0, 0.6)),
                    url('assets/img/bg-noite.jpg');
}
.madrugada {
  background-image: linear-gradient(to bottom, 
                    rgba(16, 33, 165, 0.8),
                    rgba(0,0,0, 0.6)),
                    url('assets/img/bg-madrugada.jpg');
}
.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icondia {
  background: url('assets/img/dia-e-noite-sprites.png');
  background-position: 0px 80px;
  width: 80px;
  height: 80px;
  display: inline-block;
}
.bomdia       {background-position: 160px 80px;}
.boatarde     {background-position: 0px 80px;}
.boanoite     {background-position: 240px 80px;}
.boamadrugada {background-position: 80px 80px;}
.relogio { font-size: 3em; }
.calendario { font-size: 0.8em; }
footer {
  margin-top: 3em;
}
.copy { 
  color: #fff;
  margin-bottom: 1em;
}
.fa {
  color: #FFF;
  font-size: 1em !important;
  padding: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
}
.fa:hover {
  transition: all 0.35s ease-out;
}
.fa-facebook:hover,
.fa-facebook:focus  { 
  background-color: #3B5998;
  border-color: #3B5998;
}
.fa-whatsapp:hover,
.fa-whatsapp:focus { 
  background-color: #00b489;
  border-color: #00b489;
}
.fa-instagram:hover,
.fa-instagram:focus { 
  background-color: tomato;
  border-color: tomato;
}
.fa-youtube:hover,
.fa-youtube:focus { 
  background-color: #bb0000;
  border-color: #bb0000;
}